@import url('https://fonts.googleapis.com/css?family=Prompt:wght@700&family=Roboto:wght@400;700&display-swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #688de0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  width: 90%;
  max-width: 800px;
  margin: 20px;
  overflow-wrap: break-word;
}


.container-ad {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  /* text-align: center; */
  width: 90%;
  max-width: 800px;
  margin: 20px;
  overflow-wrap: break-word;
  background-image: url('https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
  background-size: cover;
  background-position: center;
}

.btn-ad {
  background-color: #333a1b;
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  /* transform-origin: center; */
}


h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
}

.joke {
  font-size: 20px;
  /* letter-spacing: 1px; */
  /* line-height: 40px; */
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  background-color: #9f68e0;
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  transform-origin: center;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.responsive-img {
  width: 40%;
  height: auto;
}